<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
    <h4>List Personal</h4>
    <table class="table table-striped">
        <tr>
       		<th>Personal ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Hobbies</th>
            <th>Description</th>
        </tr>
        <tr th:each="personal : ${personals}">
       		<td id="p-personalid" th:text="${personal.personalID}"></td>
            <td th:text="${personal.firstName}"></td>
            <td th:text="${personal.lastName}"></td>
            <td th:text="${personal.mobile}"></td>
            <td th:text="${personal.email}"></td>
            <td th:text="${personal.hobbies}"></td>
            <td th:text="${personal.description}"></td>
            <td><button class="btn-update">Update</button></td>
			<td><button class="btn-delete">Delete</button></td>
        </tr>
    </table>
    
    <span th:text="${user}"></span>
    <!-- Modal Insert Personal -->
	<div class="modal" id="modelFormInsertPersonal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLongTitle">Add personal</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					First Name : <input type="text" id="text-firstname" class="form-control" 
					placeholder="Enter your first name">
					<br/>
					Last Name : <input type="text" id="text-lastname" class="form-control"  
					placeholder="Enter your last name">
					<br/>
					Mobile : <input type="text" id="text-telephone" class="form-control"  
					placeholder="Enter your telephone number">
					<br/>
					Email : <input type="text" id="text-email" class="form-control"  
					placeholder="Enter your email">
					<br/>
					Hobbies : <input type="text" id="text-hobbies" class="form-control"  
					placeholder="Enter your hobbies">
					<br/>
					Description : <input type="text" id="text-description" class="form-control"  
					placeholder="Enter your description">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button id="btn-save-insert" type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Update Personal -->
	<div class="modal" id="modelFormUpdatePersonal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLongTitle">Update Personal</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Personal ID : <input type="text" id="text-personalid" class="form-control" 
					disabled="disabled">
					<br/>
					Firstname : <input type="text" id="text-firstname" class="form-control" 
					placeholder="Enter your first name">
					<br/>
					Lastname : <input type="text" id="text-lastname" class="form-control"  
					placeholder="Enter your last name">
					<br/>
					Telephone : <input type="text" id="text-telephone" class="form-control"  
					placeholder="Enter your telephone number">
					<br/>
					Email : <input type="text" id="text-email" class="form-control"  
					placeholder="Enter your email">
					<br/>
					Hobbies : <input type="text" id="text-hobbies" class="form-control"  
					placeholder="Enter your hobbies">
					<br/>
					Description : <input type="text" id="text-description" class="form-control"  
					placeholder="Enter your description">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button id="btn-save-update" type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>